.topMenu {
    background-color: #f8f9fc;
    overflow: hidden;
  }
  
.topMenu a {
    font-style: Space Grotesk,;
    float: center;
    color: #black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topMenu a.active {
    background-color: #2549D3;
    color: black;
  }
.btnGetstarted{
    float: right;
    color: black;
    padding-top: 1%;
}
.body-container {
    border: 3px solid #fff;
    padding: 40px;
}

.myText{
    width: 40%;
    float: left;
    padding: 20px;
} 

.img1{
    width: 55%;
    height: 100%;
    float: left;
    padding: 20px;
} 
.p1{
    font-style: Space Grotesk;
    font-size: 250%;
    color: #0F298B;
}
.p2{
    ont-style: Space Grotesk;
    font-size: 150%;
}
.learnMoreBtn{
font-size: 150%;
background-color: blue;
border-top-left-radius:25px;  
border-top-right-radius:25px;  
border-bottom-right-radius:25px;  
border-bottom-left-radius:25px;
color: white;
}
.learnMoreImg{
    width: 10%;
}
.dropDown .search{
    display: inline-block;
    position: relative;
    padding: 60px 10px;
    float: left;
    justify-content: space-between;
}
.searchBox{
    position: relative;
    padding: 60px;
    float: left;
    display: flex;
}
.sectionTitle{
    padding: 50px;

}
.findHome{
    width: 30%;
    float: left;
    padding: 20px;
}
.makePayments{
    width: 30%;
    height: 100%;
    float: left;
    padding: 20px;  
}
.makeItOfficial{
    width: 30%;
    height: 100%;
    float: left;
    padding: 20px;
}